/* 
    Created on : Jul 15, 2016, 11:04:05 PM
    Author     : sonikboom
*/
/*GOOGLE FONTS USED:
/* - 'Oswald', sans-serif;
/*
*/

.button {
    
    border: solid 1px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    width: 32%;
    
}

.btnContainer #rockbtn {
    float: left;
}

.btnContainer #scissorsbtn {
    float: right;
}

.btnContainer #paperbtn {
    margin: 0 auto;
    
    
}

.button p {
    font-family: 'Oswald', sans-serif;
    font-size: .7em;
}

.button:hover {
    background-color: green;
    color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
