/* 
    Created on : Jul 15, 2016, 11:04:05 PM
    Author     : sonikboom
*/
/*GOOGLE FONTS USED:
/* - 'Oswald', sans-serif;
/*
*/

/*GENERIC STYLES*/
body {
    height: 100%;
    background: grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*END GENERIC STYLES*/

/*BUTTONS*/
    /*CONTAINER*/
.btnContainer {    
    border-radius: 10px;
    }

    .btnContainer #rockbtn {
        float: left;
    }

    .btnContainer #scissorsbtn {
        float: right;
    }

    .btnContainer #paperbtn {
        margin: 0 auto;
    }
    /*END CONTAINER*/
    
    /*BUTTON*/
.button {    
    border: solid 1px;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    width: 32%;
}

    .button i { /*font-awesome font size*/
        font-size: 8em;
    }
    
    .button p {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    }

    .button:hover {
        background-color: #67CC00;
        color: white;
    }

    .button #btntext {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    /*END BUTTON*/

/*END BUTTONS*/



/*SCOREBOARD*/
.scoreboard {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    font-family: 'Oswald', sans-serif;
    
    
}

    .scoreboard .score {
        border: 0.1px solid white; 
        border-radius: 1px;
        text-align: center;
    }

    .scoreboard #user {
        width: 30%;
        background-color: #669ACC;
        float: left;
        font-size: 6em;
    }

    .scoreboard #ai {
        width: 30%;
        background-color: #CC3333;
        float: right;
        font-size: 6em;

    }
/*END SCOREBOARD*/

/*RESULTS*/
.results #arrows {
    text-align: center;
    vertical-align: middle;
    font-size: 4.5em;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 5%;
}

    .results #tie {
        font-family: 'Oswald', sans-serif;
        border: 1px solid white; 
        border-radius: 5px;
        width: 30%;
        background-color: #CC9933;
        margin: 10px auto 0 auto;
        text-align: center;
        padding: 2px;
        
        }
        
        .results #tie p {
            margin: 0;
            font-size: 3em;
        }
        
        .results .score #result {
            font-family: 'Oswald', sans-serif;
            border: 0.1px solid white; 
            border-radius: 5px;
            text-align: center;
            font-size: 3.5em;
            margin: 0 auto;
            text-align: center;
            width: 50%;
        }
        
        .results .score #total {
            font-family: 'Oswald', sans-serif;
            width: 30%;
            background-color: #99CC33;
            margin: 0 auto 0 auto;
            margin-top: 5px;
            text-align: center;
            padding: 2px;
            font-size: 3.5em;
        }
        
        .results #tot {
            border: 1px solid white; 
            border-radius: 5px;
            width: 30%;
            background-color: #99CC33;
            margin: 10px auto 0 auto;
            text-align: center;
            padding: 2px;
        }
        
        .results #tottext {
            font-family: 'Oswald', sans-serif;
            font-size: 3.5em;
            margin-top: 15px;
            margin-bottom: 5px;
        }
/*END RESULTS*/
    
    
    
    
    